<nav class="navbar">
	<ul>
		<div class="standard">
		<div class="menu">	
				<%= link_to 'In Stock', root_path, class:'navbar_item' %>
				<%= link_to 'Use Reports', use_reports_use_reports_path, class:'navbar_item' %>
				<%= link_to 'Order Reports', scms_order_reports_path, class:'navbar_item' %>
				<%= link_to 'Delivery Reports', scms_delivery_reports_path, class:'navbar_item' %>
		</div>
	</div>
	</ul>
</nav>