<p style="color: green"><%= notice %></p>

<h1 class="goldtext">All Items</h1>
<p class="Goteem">Deez Nuts</p>
<div>
  <table id="items">
    <thead>
      <th>Item Name</th>
      <th>Part Number</th>
      <th>In Stock</th>
      <th>Needed</th>
    </thead>
    <tbody>
      <div class="dataEntry">
        <%= render "form", scm: Scm.new %>
      </div>
      <div class="scms">
      <%= render 'all_items' %>
    </div>
    </tbody>
  </table>
</div>


<!-- %= link_to "Show this scm", scm %> -->