<h1>HEADER</h1>
<nav class="navbar">
	<ul class="navbar-items">
		<li>
			<%= link_to 'In Stock', root_path, class:'navitem' %>
		</li>
		<li>
			<%= link_to 'Use Reports', root_path, class:'navitem' %>
		</li>
	</ul>
</nav>