<nav class="navbar">
	<ul>
		<div class="menu">
			<li class="navbar_item">
				<%= link_to 'In Stock', root_path, class:'navitem' %>
			</li>
			<li class="navbar_item">
				<%= link_to 'Use Reports', root_path, class:'navitem' %>
			</li>
		</div>
	</ul>
</nav>