<html>
<head>
	<link rel="stylesheet" type="text/css" href="application.css"/>



</head>
<body>



<h1 class="goldtext">I can't feel my body... Wait, I DON'T HAVE A BODY!</h1>
<p class="goldtext">Deez nuts - Ha! Goteem</p>
<p class="goldtext">All items in the db:</p>
<table id="items">
	<th>Item Name</th>
	<th>Qty In Stock</th>
	<th>Qty To Order</th>
	<th>Part number</th>
	<% @items.each do |item| %>
		<tr>
			<td><%= item.get_itemName %></td><td><%= item.get_inStock %></td><td><%= item.get_partNumber %></td>
		</tr>
	<% end %>
</table>



</body>
</html>