<html>
<head>
	<link rel="stylesheet" type="text/css" href="application.css"/>



</head>
<body>



<h1 class="goldtext">I can't feel my body... Wait, I DON'T HAVE A BODY!</h1>
<p class="goldtext">Deez nuts - Ha! Goteem</p>



</body>
</html>