<html>
<head>
	<link rel="stylesheet" type="text/css" href="application.css"/>



</head>
<body>


<p class="goldtext">All items in the db:</p>
<table id="items">

	<th>Item Name</th>
	<th>Qty In Stock</th>
	<th>Qty To Order</th>
	<th>Part number</th>
	<% @items.each do |item| %>
		<tr>
			<td><%= item.get_itemName %></td>	
		</tr>
	<% end %>
</table>

<% @items.each do |item| %>
	<li class="goldtext"><%= item.get_itemName %> : <%= item.get_inStock %></li>
<% end %>



</body>
</html>