
      .menu {
        display: flex;
        flex-direction: horizontal;
        position: sticky;
        padding: 5px;
        margin: 0px;
        background-color: #404040
      }

      .goldtext {
        color: #FFD800;
      }

      .navbar_item {
        margin: auto; 
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 180px;
        padding-right: 180px;
        display: inline-block;
        background-color: #606060;
      }

      a:link { 
        color: #FFD800;
        text-decoration:none;
      }

      a:visited { 
        color: #FFD800;
        text-decoration:none;
      }

      a:hover { 
        color: #FFD800;
        text-decoration:none;
      }

      a:active { 
        color: #FFD800;
        text-decoration:none;
      }

      #items th {
        color: #0088BB;
        font-weight: bold;
        text-align: center;
      }

      #items tr:nth-child(even){
        background-color: #f2f2f225;
      }

      #items td:hover {
        background-color: #f2f2f235;
      }