
      .menu {
        display: flex;
        flex-direction: horizontal;
        position: sticky;
        padding: 2px;
        margin: 0px;
        background-color: #404040
      }
      .navbar_item {
        margin: auto; 
        padding: 15px;
        display: inline-block;
        background-color: #606060;
      }
      a:link { 
        color: #FFD800;
        text-decoration:none;
      }
      a:visited { 
        color: #FFD800;
        text-decoration:none;
      }
      a:hover { 
        color: #FFD800;
        text-decoration:none;
      }
      a:active { 
        color: #FFD800;
        text-decoration:none;
      }
      .goldtext {
        color: #FFD800;
      }