.menu {
  display: flex;
  flex-direction: horizontal;
  position: sticky;
  padding: 5px;
  margin: 0px;
  background-color: #404040
}

.footer {
  background-color: #404040;
  color: #FFD800;
  margin-top: 37.8%;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding: 15px;
  position: sticky;
  height: 15%;
  width: auto;
}

.goldtext {
  color: #FFD800;
}

.aquatext {
  color: #0088BB;
}

.navbar_item {
  margin: auto; 
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 180px;
  padding-right: 180px;
  display: inline-block;
  background-color: #606060;
}

a:link { 
  color: #FFD800;
  text-decoration:none;
}

a:visited { 
  color: #FFD800;
  text-decoration:none;
}

a:hover { 
  color: #FFD800;
  text-decoration:none;
}

a:active { 
  color: #FFD800;
  text-decoration:none;
}

#items th {
  color: #00CCEE;
  font-weight: bold;
  text-align: center;
}

#items tr:nth-child(odd){
  background-color: #f2f2f215;
}

#items tr:nth-child(even) {
  background-color: #f2f2f225;
}

#items td {
  color: #00CCEE;
  text-align: left;
}

#items td:hover {
  background-color: #f2f2f235;
}

.editForm {
  color: #FFD800;
  margin: 3px;
  padding: 1.5px;
}
.editForm input {
  background-color: #606060;
}